@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(38deg, rgb(203, 241, 203) 0%,  rgb(39, 248, 39) 100%);
}

button {
  border: 0;
}

ul,
ol {
  list-style: none;
}